<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>653240281859-mim24i1gvfsbr31k2a660cv19ohvhqv0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.653240281859-mim24i1gvfsbr31k2a660cv19ohvhqv0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>653240281859-nkuv778bbl9jb7sg8ii44goo44g222uv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCMrNC7Jg-Y3nSZBFrZRQ3EcF7xKV7PUlw</string>
	<key>GCM_SENDER_ID</key>
	<string>653240281859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fis.dev.itel</string>
	<key>PROJECT_ID</key>
	<string>myitel-716be</string>
	<key>STORAGE_BUCKET</key>
	<string>myitel-716be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:653240281859:ios:0119409e48749a14755736</string>
</dict>
</plist>