.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}
.header-area .main-header .menu-wrapper .main-menu ul li a {
    color: white;
    padding: 7px 20px;
}

.css-31qjg6-MuiButtonBase-root-MuiListItemButton-root {
    padding: 8px 16px 8px 72px !important;
}