.css-1v832ts-MuiButtonBase-root-MuiListItemButton-root{
    padding: 8px 16px 8px 72px !important;
    width: 100% !important;
}
.css-31qjg6-MuiButtonBase-root-MuiListItemButton-root{
    width: 100% !important;
}